@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: #1F2937;
    padding: 10px 200px 100px;
}

a, .hero-text > p {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none
}

.logo{
    color: #F9FAF8;
    font-size: 24px;
}

.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px 100px;
    flex: 1;
    gap: 50px;
}

.title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 0;
}

button {
    padding: 8px 30px;
    border: none;
    border-radius: 5px;
}


.hero-text > button {
    background-color: #3882F6;
    color: white;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}

.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6D747D;
    height: 250px;
    width: 800px;
    color: white;
}

.info {

}

.info-title {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}